.scroll-container {
    margin-top: 10px;
    border: solid 1px rgb(161, 161, 161);
    border-radius: 3px;
    min-width: 40px;
    min-height: 696px;
    overflow: hidden;
    position: relative;
}

.scroll-bar {
    width: 15px;
    height: 15px;
    /* Initial height of the scroll bar */
    background-color: #adadad;
    position: absolute;
    padding-right: 25px;
    right: 0;
    top: 0;
    cursor: pointer;
}