.scroll-container {
    border: solid 1px #adadad;
    border-radius: 0px;
    min-width: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-left: none;
    margin: 0;
}

.scroll-bar {
    width: 100%;
    height: 9px;
    background-color: #adadad;
    position: absolute;
    padding-top: 1px;
    right: 0;
    top: 0;
    font-size: 8px;
    color: white;
    text-align: center;
}


.tabel-container {
    border: solid 1px #adadad;
    width: 100%;
    border-radius: 2px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.btn-styling {
    border: solid 1px rgb(24, 153, 228);
    text-align: center;
    background-color: rgb(24, 153, 228);
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 20px;
}

.tool-tip {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    display: none;
    z-index: 30000;
    background-color: white;
    border: solid 2px #eaeaea;
    padding: 10px;
    font-size: 85%;
}

#top-scroll {
    border-top: 2px;
}

#buttom-scroll {
    border-bottom: 2px;
}