/*Header---------------------------------------------------------*/
.HeaderBox {
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #796bac;
    border-bottom: solid 2px #695e90;
}

.HeaderBox a {
    color: #ffffff !important;
    font-size: 16px;
    text-decoration: none !important;
}

.HeaderBox a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

/*Footer---------------------------------------------------------*/
.FooterBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    border-top: solid 1px #d8cefc;
    padding-top: 5px;
    margin: 10px 300px 10px 300px;
    color: rgb(212, 212, 212);
}

/*Home-----------------------------------------------------------*/
.HomeBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

/*FileDisplay----------------------------------------------------*/
.FileDisplayBox {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
    padding: 10px;
}

.FileDisplayRow1 {
    display: flex;
    flex-direction: row;
    /* border: solid 1px black; */
    padding: 20px;
    justify-content: center;
}

.FileDisplayRow2 {
    display: flex;
    flex-direction: row;
    /* border: solid 2px black; */
    border-radius: 4px;
    padding: 5px;
    justify-content: center;
}

.FileDisplayCol1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: solid 2px #d5d5d5;
    border-radius: 4px;
    padding: 2px;
}

.FileDisplayCol2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: solid 2px #d5d5d5;
    border-radius: 4px;
    padding: 2px;
    margin-left: 20px;
}

/*Save-----------------------------------------------------------*/
.SaveBoxGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 15px;
}

.MessagesBox {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.TextMessage {
    font-weight: bold;
}

.ErrorText {
    font-weight: bold;
    color: red;
    font-size: 20px;
}

/*DisplayGrid----------------------------------------------------*/
.GridMainBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    align-content: left;
    width: 100%;
}

.ToggleBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height: 30px;
}

.GridTextBox {
    display: flex;
    flex-direction: row;
}

/*GridDialogContent----------------------------------------------*/
.GridDialogContentBox {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.GridDialogText {
    font-weight: bold;
    font-size: 18px;
}

.GridDialogMenuBox {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}