.WholePageBox {
    border: solid 0px red;
    padding: 20px;
    margin: 200px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.LoginBox {
    border: solid 2px #1e81b0;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.LoginHeader {
    font-weight: 500;
    font-size: 16px;
}

.LoginBtn {
    background-color: #1e81b0 !important;
}

.SignUpBox {
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 0px red;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

#span-sign-up {
    cursor: pointer;
    text-decoration: underline;
}

#span-sign-up:hover {
    text-decoration: none;
    color: #1e81b0;
}

.SignUpText {
    font-weight: 500 !important;
    font-size: 15px !important;
}

.IncorrectDataBox {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 10px;
    color: rgb(195, 8, 8);
    font-size: bold;
    border: solid 0px red;
    height: 25px;
}

.ForgotPasswordBox {
    border: solid 2px #1e81b0;
    border-radius: 4px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    width: 500px;
}

.EmailTextfield {
    width: 430px;
    margin-top: 20px !important;
}

.BtnActions {
    margin-right: 37px !important;
    margin-bottom: 20px !important;
}

.NoEmailFound {
    margin-top: 20px !important;
    color: rgb(187, 2, 2) !important;
}

.BtnActionsDialog {
    margin-right: 16px !important;
    margin-bottom: 20px !important;
}

.ResetPassBox {
    border: solid 2px #1e81b0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.ResetPassBoxTextField {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 530px;
}

.SameOldPassErr {
    margin-top: 20px !important;
    color: rgb(187, 2, 2) !important;
}


.ErrorSpan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto auto auto;
    align-items: center;
    align-items: center;
    padding: 50px;
}

.ErrorBox{
    display: flex;
    flex-direction: column;
}