.WholePageBox {
    border: solid 0px red;
    padding: 20px;
    margin: 200px 50px 50px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.LoginBox {
    border: solid 2px #1e81b0;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.LoginHeader {
    font-weight: 500;
    font-size: 16px;
}

.LoginBtn {
    background-color: #1e81b0 !important;
}

.SignUpBox {
    margin-top: 20px;
    margin-bottom: 10px;
    border: solid 0px red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#span-sign-up {
    cursor: pointer;
    text-decoration: none;
}

#span-sign-up:hover {
    text-decoration: underline;
    color: #1e81b0;
}

.SignUpText {
    font-weight: 500 !important;
    font-size: 15px !important;
}

.IncorrectDataBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: rgb(195, 8, 8);
    font-size: bold;
    border: solid 0px red;
    height: 25px;
}