.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#scorll-element table,
#scorll-element th,
#scorll-element td {
  border-bottom: 1px solid rgb(228, 228, 228);
}

#scorll-element td {
  padding: 8px 5px 8px 5px;
}

#scorll-element thead {
  top: 0;
  position: sticky;
  background-color: rgb(225, 225, 225);
}

#scorll-element th {
  padding: 5px;
  background-color: rgb(225, 225, 225);
  text-align: left;
  border-bottom: #b2b2b2 solid 1px;
}

#scorll-element table tr:hover {
  background-color: #a8d7ef;
}

#scorll-element table {
  font-size: 80%;
  background-color: white;
}