.EachRow {
    width: 50px;
    height: 50px;
    border: solid 2px rgb(7, 129, 100);
    border-radius: 4px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(9, 80, 63) !important;
    font-weight: bold !important;
}

.EachRow:active {
    background-color: rgba(176, 249, 232, 0.309);
}

.PlayerTurn {
    text-align: center;
    font-size: 25px;
    color: rgb(9, 80, 63);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-bottom: 25px;
}

.StartGameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FormItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.EcchItem {
    color: rgb(9, 80, 63) !important;
    font-weight: bold !important;
}

.DialogContent {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.CelbrateImg {
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
}

.MainBox {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoeardGameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}