.EachRow {
    border: solid 2px rgb(7, 129, 100);
    border-radius: 4px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(5, 40, 32)
}

.EachRow:active {
    background-color: rgba(176, 249, 232, 0.309);
}

.EachMapping {
    display: flex;
    flex-direction: row;
}

.GameBody {
    display: flex;
    flex-Direction: column;
    justify-Content: center;
    margin-top: 100px
}

.PlayerTurn {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: rgb(5, 40, 32);
    font-weight: bold;
}

.StartBtn {
    width: 100px !important;
    margin: auto auto 20px auto !important;
    background-color: rgb(1, 97, 75) !important;
}